
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="check-price-screen.css">
</head>
<body>
     
    <div class="style Check pricing">
<h1>Check price of water for johannesburg</h1>

</div>

<form action="check-price-screen" method="post"></form>

<h3>Type price of litres used: <input type="text"></h3>

<div>
    <button type="button">
        water demand management levy
    </button>
</div>

<div>

    

<div>
    <button type="button">
        VAT: 15%
    </button>
</div>

<div>
    <button type="submit">
        Price
    </button>
    
    </div>

    </form>



<div class="message">

    <h3>Price appears here</h3>
    </div>
</div>
</body>
</html>