
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="loggedin-screen.css">
    
</head>
<body>

<div class="box Logged-in">
    <h1>Logged-in</h1>
</div>
    <div class="style Check price">
<h2>Check price</h2>

<a href="file:///C:/Users/Mfeka/Desktop/Group-G4-projects/check-price-screen.html">
    <input type="button" value="check price">
</a>  

</div>
<div class="style Check dam level">
<h2>Check dam level</h2>

<a href="file:///C:/Users/Mfeka/Desktop/Group-G4-projects/dam-level-screen.html">
    <input type="button" value="dam level">
</a>

    

    <div class="style Water Infrastructure Maintenance">
        <h2>Water Asset Maintenance</h2>

<a href="file:///C:/Users/Mfeka/Desktop/Group-G4-projects/water-infrastructure-maintenance.html">
    <input type="button" value="Water Infrastructure Maintenance">
    </a>
            

</div>
</body>
</html>