
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="loggedin-screen.css">
    
</head>
<body>

<div class="box Logged-in">
    <h1>Logged-in</h1>
</div>

<form action="check-price-screen" method="post">
    <div class="style Check price">
<h2>Check price</h2>


    <input type="submit" value="check price">
 

</div>
</form>

<form action="water-tariffs" method="post">


<div class="style Check annual water tariff categories and Prices">
<h2>Check annual water tariff categories and Prices</h2>


    <input type="submit" value="water tariffs">
    </form>


    <form action="annual-water-increase" method="post">

    <div class="style Annual water percentage increase ">
        <h2>Annual water percentage increase</h2>


    <input type="submit" value="Annual water percentage increase">
    </form>

    <form action="type-of-customer" method="post">

    <div class="style Type of customer ">
        <h2>Type of customer</h2>


    <input type="submit" value="Type of customer">
    </form>
            

</div>
</body>
</html>