<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<link rel="stylesheet" href="login-screen.css">


</head>
<body>
    
<h1>Water Pricing Solutions</h1>

<form action="/registration" method="post">

<button type="submit" class="btn registrationButton">Register</button>


</form>



<a href="file:///C:/Users/Mfeka/Desktop/Group-G4-projects/register-screen.html">
    <input type="button" value="Register">
</a>

<form action="/login" method="post">

<div class="">

<h2>Username: </h2>  <input type="text"  class="theInputOne" name="username">

<div class="">

<h2>ID:</h2> <input type="text" class="theInputTwo" name="ID">

<div class="messageOne">
    <h3>Username displayed here</h3>
    </div>

    <div class="messageTwo">
        <h3>ID displayed here</h3>
        </div>

<button type="submit" class="btn btn-primary  completeButton">Login</button>
</form>









</body>

<script src="image-1.jpg"></script>
<script src="login-screen.js"></script>

</html>