

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="register-screen.css">


</head>
<body>



    <div class="box Register">
    
<h1>Register</h1>

</div>

<form action="/Register" method="post">



<h2>Full name:</h2>  <input type="text"  class="theInputOne" name="full-name" value="{{Register.first_name}}">




<h2>ID:</h2>  <input type="text"  class="theInputTwo" name="id">


    <h2>Username:</h2>  <input type="text"  class="theInputThree" name="username">

    <button type="submit"  class="btn  btn-primary registerButton">Complete</button>
    
 </form>



<div class="messageOne">

    <h3>Full name displayed here</h3>
</div>

<div class="messageTwo">
    <h3>ID displayed here</h3>
</div>

<div class="messageThree">
    <h3>Username displayed here</h3>
</div>





<a href="file:///C:/Users/Mfeka/Desktop/Group-G4-projects/loggedin-screen.html">
    <input type="button" value="Register">
</a>

<div>

    
    

</div>
</body>

<script src="register-screen.js"></script>

</html>