
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="type-of-customer.css">
</head>
<body>

    
    
<h1>Type of customer</h1>

<h2>Residential Customers</h2>
<h3>Single and multi-dwelling units</h3>
<h3>Deemed Consumption Areas</h3>
<h3>Informal Settlements</h3>

<h2>Non-residential Customers</h2>
<h3>Institutions</h3>
<h3>Commercial and Industrial Customers</h3>




</body>
</html>