
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="water-tariffs.css">
</head>
<body>
    
<h1>Annual water tariff categories and Prices</h1>

<table>

    <tr>

<h3>Year 2019/2020</h3>

<th>kl</th>
<th>Price</th>

    </tr>

    <tr>
        <td>0 kl to 6 kl</td>
        <td>R 9.10</td>
        </tr>

        <tr>
            <td>6 kl to 10 kl</td>
            <td>R 9.66</td>
            </tr>

            <tr>
                <td>10 kl to 15 kl</td>
                <td>R 16.49</td>
                </tr>

                <tr>
                    <td>15 kl to 20 kl</td>
                    <td>R 23.99</td>
                    </tr>

                    <tr>
                        <td>20 kl to 30 kl</td>
                        <td>R 32.95</td>
                        </tr>

                        <td>30 kl to 40 kl</td>
                        <td>R 36.51</td>
                        </tr>

                        <td>40 kl to 50 kl</td>
                        <td>R 46.62</td>
                        </tr>

                        <td>More 50 kl</td>
                        <td>R 49.66</td>
                        </tr>



</table>

<table>

    <tr>

<h3>Year 2020/2021</h3>

<th>kl</th>
<th>Price</th>

    </tr>

    <tr>
        <td>0 kl to 6 kl</td>
        <td>R 9.10</td>
        </tr>

        <tr>
            <td>6 kl to 10 kl</td>
            <td>R 18.99</td>
            </tr>

            <tr>
                <td>10 kl to 15 kl</td>
                <td>R 19.82</td>
                </tr>

                <tr>
                    <td>15 kl to 20 kl</td>
                    <td>R 27.79</td>
                    </tr>

                    <tr>
                        <td>20 kl to 30 kl</td>
                        <td>R 38.40</td>
                        </tr>

                        <td>30 kl to 40 kl</td>
                        <td>R 42.00</td>
                        </tr>

                        <td>40 kl to 50 kl</td>
                        <td>R 52.99</td>
                        </tr>

                        <td>More 50 kl</td>
                        <td>R 56.79</td>
                        </tr>



</table>



</body>
</html>