
body {
    background-color: #2196f3;
    /*margin: auto;*/
    /*border: 2px solid white;*/
    margin: 2em;
    padding: 2em;
    color: #00296b;
    

}

.box {
    font-style: italic;
}

/*.style {
    font-style: italic;
}*/